##
127.0.0.1          localhost        localhost.localdomain
172.16.0.223       master           master.labo.local  
172.16.0.224       node1            node1.labo.local    
172.16.0.225       node2            node2.labo.local    

