##
127.0.0.1           localhost        localhost.localdomain
172.16.10.223       master           master.labo.local  
172.16.10.224       node1            node1.labo.local    
172.16.10.225       node2            node2.labo.local    

